*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.app-layout{
    display:flex;
    flex-direction:column;

    width:100vw;
    height:100vh;
}
.app{

    width:100vw;

    height:100vh;

    display:flex;

    flex-direction:column;

    overflow:hidden;

}
.app{

    width:100vw;

    height:100vh;

    display:flex;

    flex-direction:column;

    overflow:hidden;

}

html,
body,
#body {

    background:var(--color-bg);

    color:var(--color-text);

    font-family:
        Inter,
        system-ui,
        sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
     overflow:hidden;

}

button,
input,
textarea,
select{

    font:inherit;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
