*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#body {

    background:var(--color-bg);

    color:var(--color-text);

    font-family:
        Inter,
        system-ui,
        sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
     overflow:hidden;

}

button,
input,
textarea,
select{

    font:inherit;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
